/*=================================
    CSS Index Here
==================================*/
/*

01. Theme Base
    1.1. Mixin
    1.2. Function
    1.3. Variable
    1.4. Typography
    1.5. Extend
    1.7. Wordpress Default
02. Reset
    2.1. Container
    2.2. Grid
    2.3. Input
    2.4. Slick Slider
    2.5. Mobile Menu
03. Utilities
    3.1. Preloader
    3.2. Buttons
    3.3. Titles
    3.4. Common
    3.6. Font
    3.7. Background
    3.8. Text Color
    3.9. Overlay
    3.10. Animation

04. Template Style
    4.1. Widget
    4.2. Header
    4.3. Footer
    4.4. Breadcumb
    4.5. Pagination
    4.6. Blog
    4.7. Comments
    4.8. Hero Area
    4.9. Error    
    4.00. Popup Search
    4.00. Popup Side Menu
    4.00. Wocommerce
    4.00. Subscribe
    4.00. Cart
    4.00. Checkout
    4.00. Wishlist
    4.00. Contact
    4.00. About
    4.00. Team
    4.00. Testimonial
    4.00. Counter
    4.00. Client
    4.00. Simple Sections
    4.00. Video
    4.00. Category
    4.00. Faq
    4.00. feature
    4.00. CTA
    4.00. Service
    4.00. Pricing
    4.00. Why choose Us
    4.00. Project
    4.00. Event
    4.00. Gallery
    4.00. Schedule

05. Spacing

*/
/*=================================
    CSS Index End
==================================*/
/*=================================
   01. Theme Base
==================================*/
/*------------------- 1.1. Mixin -------------------*/
/*------------------- 1.2. Function -------------------*/
/*------------------- 1.3. Variable-------------------*/
:root {
  --theme-color: #E3FF04;
  --title-color: #0A0C00;
  --body-color: #0A0C00;
  --smoke-color: #F6F5F3;
  --smoke-color2: #FFF4EF;
  --smoke-color3: #F5F5F6;
  --smoke-color4: #F4F4F4;
  --smoke-color5: #F0F2F4;
  --black-color: #202020;
  --gray-color: #131312;
  --white-color: #ffffff;
  --light-color: #9fa2ad;
  --yellow-color: #FFB539;
  --success-color: #28a745;
  --error-color: #FF1F36;
  --border-color: #E3E3E3;
  --title-font: 'Unbounded', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --icon-font: "Font Awesome 5 Free";
  --main-container: 1296px;
  --container-gutters: 24px;
  --section-space: 140px;
  --section-space-mobile: 80px;
  --section-title-space: 65px;
  --ripple-ani-duration: 5s;
}

/*------------------- 1.5. Typography -------------------*/
html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--body-color);
  line-height: 26px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


button:focus,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active {
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

img:not([draggable]) {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: disc;
}

a {
  color: var(--theme-color);
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}
a:hover {
  color: var(--title-color);
}
a:active, a:focus, a:hover, a:visited {
  text-decoration: none;
  outline: 0;
}

button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}


p:empty {
  display: none;
}

p {
  font-family: var(--body-font);
  margin: 0 0 18px 0;
  color: var(--body-color);
  line-height: 1.75;
}

h1 a,
h2 a,
h3 a,
h4 a,
h6 a,
p a,
span a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h6,
h6 {
  font-family: var(--title-font);
  color: var(--title-color);
  text-transform: none;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.h1,
h1 {
  font-size: 100px;
  line-height: 1.167;
}

.h2,
h2 {
  font-size: 60px;
  line-height: 1.133;
}

.h3,
h3 {
  font-size: 36px;
  line-height: 1.278;
}

.h4,
h4 {
  font-size: 24px;
  line-height: 1.333;
}

.h6,
h6 {
  font-size: 18px;
  line-height: 1.5;
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .h1,
  h1 {
    font-size: 48px;
  }
}
/* Large devices */
@media (max-width: 1199px) {
  .h1,
  h1 {
    font-size: 44px;
    line-height: 1.3;
  }
  .h2,
  h2 {
    font-size: 40px;
    line-height: 1.25;
  }
  .h3,
  h3 {
    font-size: 30px;
  }
  .h4,
  h4 {
    font-size: 24px;
  }
  .h6,
  h6 {
    font-size: 16px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 40px;
  }
  .h2,
  h2 {
    font-size: 34px;
    line-height: 1.3;
  }
  .h3,
  h3 {
    font-size: 26px;
  }
  .h4,
  h4 {
    font-size: 22px;
  }
  .h6,
  h6 {
    font-size: 16px;
  }
}
/* Extra small devices */
@media (max-width: 575px) {
  .h1,
  h1 {
    font-size: 34px;
    line-height: 1.35;
  }
  .h2,
  h2 {
    font-size: 30px;
  }
}
/* Extra small devices */
@media (max-width: 375px) {
  .h1,
  h1 {
    font-size: 32px;
  }
}
/*------------------- 1.6. Extend -------------------*/
/*=================================
    02. Reset
==================================*/
/*------------------- 2.1. Container -------------------*/
/* Medium Large devices */
@media (max-width: 1399px) {
  :root {
    --main-container: 1250px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: calc(var(--main-container) + var(--container-gutters));
  }
}
@media (min-width: 1880px) {
  .custom-container {
    max-width: 1824px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1879px) {
  .custom-container {
    margin: 0 48px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .custom-container {
    margin: 0 30px;
  }
}
/* Extra small devices */
@media (max-width: 575px) {
  .custom-container {
    margin: 0 12px;
  }
}
@media only screen and (min-width: 1501px) {
  .container3 {
    --main-container: 1440px;
  }
}
/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Small devices */
/* Large devices */
/*------------------- 2.2. Grid -------------------*/

.gy-40 {
  --bs-gutter-y: 40px;
}

.gy-60 {
  --bs-gutter-y: 60px;
}
/* Large devices */
/* Medium devices */
/*------------------- 2.3. Input -------------------*/

input {
  height: 55px;
  padding: 0 30px;
  border: 1px solid transparent;
  color: var(--body-color);
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  font-family: var(--body-font);
  transition: 0.4s ease-in-out;
  padding-right: 45px;
  border-radius: 5px;
}

input:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}

input::-moz-placeholder {
  color: var(--body-color);
}

input::-webkit-input-placeholder {
  color: var(--body-color);
}

input:-ms-input-placeholder {
  color: var(--body-color);
}

input::placeholder {
  color: var(--body-color);
}

input.style3 {
  background: var(--smoke-color3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

/*------------------- 2.4. Slick Slider -------------------*/

.slick-arrow {
  display: inline-block;
  padding: 0;
  background-color: var(--white-color);
  color: var(--title-color);
  position: absolute;
  top: 50%;
  border: none;
  border-radius: 50%;
  right: var(--pos-x, 58px);
  width: var(--icon-size, 80px);
  height: var(--icon-size, 80px);
  line-height: var(--icon-size, 80px);
  font-size: var(--icon-font-size, 18px);
  margin-top: calc(var(--icon-size, 80px) / -1);
  z-index: 2;
  opacity: 1;
}
.slick-arrow.default {
  position: relative;
  --pos-x: 0;
  margin-top: 0;
}
.slick-arrow:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .slick-arrow {
    --pos-x: 42px;
  }
}
/* Large devices */
@media (max-width: 1199px) {
  .slick-arrow {
    --icon-size: 60px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .icon-box .slick-arrow {
    margin-right: 0;
  }
}

/*------------------- 2.5. Mobile Menu -------------------*/
.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  width: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  opacity: 0;
  visibility: hidden;
}
.mobile-menu-wrapper .mobile-logo {
  padding: 35px 0px 50px;
  display: block;
  text-align: start;
  background-color: var(--white-color);
}
.mobile-menu-wrapper .mobile-logo svg {
  max-width: 185px;
}
.mobile-menu-wrapper .menu-toggle {
  border: 2px solid var(--title-color);
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 23px;
  padding: 0;
  line-height: 1;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 14px;
  z-index: 1;
  color: var(--title-color);
  background-color: transparent;
  border-radius: 50%;
}
.mobile-menu-wrapper .menu-toggle:hover {
  transform: rotate(90deg);
}
.mobile-menu-wrapper .mobile-menu-area {
  width: 100%;
  max-width: 310px;
  background-color: var(--white-color);
  height: 100%;
  position: relative;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  z-index: 1;
  padding: 0 20px;
}
.mobile-menu-wrapper .sidebar-wrap {
  margin-bottom: 23px;
}
.mobile-menu-wrapper .sidebar-wrap h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 0;
  line-height: 24px;
}
.mobile-menu-wrapper .sidebar-wrap a {
  color: var(--title-color);
}
.mobile-menu-wrapper .sidebar-wrap a:hover {
  color: var(--title-color);
}

.mobile-menu {
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  padding-bottom: 25px;
  margin-bottom: 40px;
  text-align: left;
  border-bottom: 2px solid var(--title-color);
}
.mobile-menu::-webkit-scrollbar {
  display: none;
}
.mobile-menu ul {
  margin: 0;
  padding: 5px 0;
}
.mobile-menu ul li {
  list-style-type: none;
}
.mobile-menu ul li a {
  display: block;
  position: relative;
  padding: 8px 0;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--title-color);
  letter-spacing: normal;
  text-transform: capitalize;
}
.mobile-menu ul li.active a {
  font-weight: 600;
}
.mobile-menu ul li ul li {
  padding-left: 20px;
}
.mobile-menu ul li ul li a {
  font-weight: 400;
  font-family: var(--body-font);
  letter-spacing: normal;
  text-transform: capitalize;
  font-size: 16px;
  padding: 6px 0;
}
.mobile-menu ul li ul li:last-child {
  border-bottom: none;
}
.mobile-menu > ul > li:last-child {
  border-bottom: none;
}

@media (max-width: 400px) {
  .mobile-menu-wrapper .mobile-menu-area {
    width: 100%;
    max-width: 270px;
  }
}
/*------------------- 2.5. Desk Menu -------------------*/

/* Extra large devices */
/* Medium Large devices */
/* Medium Large devices */

/*=================================
    03. Utilities
==================================*/
/*------------------- 3.1. Preloader -------------------*/
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader-inner {
  display: block;
  width: 45px;
  height: 45px;
}
.preloader-inner span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 4px;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: preloader 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--theme-color) transparent transparent transparent;
}
.preloader-inner span:nth-child(1) {
  animation-delay: -0.1s;
}
.preloader-inner span:nth-child(2) {
  animation-delay: -0.2s;
}
.preloader-inner span:nth-child(3) {
  animation-delay: -0.3s;
}

@-webkit-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------------------- 3.2. Buttons -------------------*/
.link-effect {
  position: relative;
  overflow: hidden;
  display: block;
  height: 17px;
  line-height: normal;
}
.link-effect .effect-1 {
  display: block;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
}
.link-effect:hover .effect-1 {
  top: -100%;
}

.btn {
  position: relative;
  z-index: 2;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-align: center;
  background-color: var(--title-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-size: 14px;
  font-weight: 600;
  padding: 21.5px 40px;
  border-radius: 0;
  overflow: hidden;
}
.btn:focus, .btn:hover, .btn.active {
  color: var(--white-color);
  outline: none;
  box-shadow: none;
}
.btn:hover .effect-1 {
  top: -100%;
}
.btn.style3 {
  border: 1px solid #4B4D49;
  background: transparent;
  color: var(--white-color);
}
.btn.style3:after, .btn.style3:before {
  border-top: 25px solid var(--white-color);
  border-bottom: 25px solid var(--white-color);
}
.btn.style3:focus, .btn.style3:hover, .btn.style3.active {
  color: var(--title-color);
}
.btn.style4 {
  background: var(--white-color);
  color: var(--title-color);
}
.btn.style4:hover {
  color: var(--white-color);
  color: var(--title-color);
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  transform: translateY(45px);
  transition: all 300ms linear;
}
.scroll-top:after {
  content: "\f062";
  font-family: var(--icon-font);
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: var(--title-color);
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.04);
}
.scroll-top svg {
  color: var(--title-color);
  border-radius: 50%;
  background: transparent;
}
.scroll-top svg path {
  fill: none;
}
.scroll-top .progress-circle path {
  stroke: var(--title-color);
  stroke-width: 4px;
  box-sizing: border-box;
  transition: all 400ms linear;
}

/* Small devices */
@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 17px 25px;
  }
}
/* Extra small devices */
@media (max-width: 575px) {
  .scroll-top {
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
  }
  .scroll-top:after {
    line-height: 40px;
    font-size: 16px;
    height: 40px;
    width: 40px;
  }
  .btn {
    padding: 15.5px 20px;
    font-size: 12px;
    font-weight: 500;
  }
}

/*------------------- 3.3. Titles -------------------*/
.sec-title {
  margin-bottom: calc(var(--section-title-space) - 43px);
  margin-top: -0.16em;
  font-weight: 600;
  letter-spacing: -1.8px;
  /* Extra small devices */
}
@media (max-width: 575px) {
  .sec-title {
    letter-spacing: normal;
  }
}
.sec-title.style3 {
  font-size: 120px;
  letter-spacing: -0.03em;
  line-height: 1.083;
  margin-top: -0.1em;
  /* Medium Large devices */
}
@media (max-width: 1399px) {
  .sec-title.style3 {
    font-size: 100px;
  }
}
.sec-title.style3 {
  /* Medium Large devices */
}
@media (max-width: 1299px) {
  .sec-title.style3 {
    font-size: 80px;
  }
}
.sec-title.style3 {
  /* Medium devices */
}
@media (max-width: 991px) {
  .sec-title.style3 {
    font-size: 60px;
  }
}
.sec-title.style3 {
  /* Small devices */
}
@media (max-width: 767px) {
  .sec-title.style3 {
    font-size: 45px;
  }
}
.sec-title.style3 {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .sec-title.style3 {
    font-size: 32px;
  }
}

.box-title {
  font-size: 24px;
  line-height: 1.417;
  font-weight: 600;
  margin-top: -0.3em;
}
.box-title a {
  color: inherit;
}
.box-title a:hover {
  color: var(--theme-color);
}

.title-area {
  margin-bottom: calc(var(--section-title-space) - 17px);
  position: relative;
  z-index: 2;
}
.title-area.mb-0 .sec-title {
  margin-bottom: 17px;
}
.title-area .btn {
  margin-top: 36px;
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .sec-title {
    font-size: 45px;
    line-height: 1.2;
  }
}
/* Large devices */
@media (max-width: 1199px) {
  .title-area,
  .sec-title {
    --section-title-space: 60px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .title-area,
  .sec-title {
    --section-title-space: 50px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .sec-title {
    font-size: 32px;
  }
}
/* Extra small devices */
@media (max-width: 390px) {
  .sec-title {
    font-size: 30px;
  }
}

/* Large devices */
/*------------------- 3.4. Common -------------------*/

.social-btn {
  display: flex;
  gap: 10px;
}
.social-btn a {
  height: var(--icon-size, 48px);
  width: var(--icon-size, 48px);
  line-height: 48px;
  display: inline-block;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid var(--smoke-color);
  background: var(--smoke-color);
}
.social-btn a:hover {
  background: var(--title-color);
  color: var(--white-color);
  border-color: var(--title-color);
}
.social-btn.style3 {
  gap: 20px;
}
.social-btn.style3 .link-effect {
  height: 25px;
}
.social-btn.style3 a {
  background: transparent;
  width: auto;
  height: auto;
  line-height: normal;
  border-radius: 0;
  color: var(--title-color);
  border: 0;
  font-size: 20px;
}
.social-btn.style3 a:hover {
  background: transparent;
  color: var(--title-color);
}
.social-btn.style4 a {
  --icon-size: 50px;
  line-height: 50px;
  font-size: 16px;
  background: transparent;
  color: var(--white-color);
  border-color: #4B4D49;
}
.social-btn.style4 a:hover {
  background: #4B4D49;
}

/*******Magnific Image*******/

/*video jarallax*********/
.jarallax {
  position: relative;
  z-index: 0;
}

/*------------------- 3.6. Font -------------------*/

/*------------------- 3.7. Background -------------------*/

.bg-white {
  background-color: var(--white-color) !important;
}


[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*------------------- 3.8. Text Color -------------------*/

.text-white {
  color: var(--white-color) !important;
}

/*------------------- 3.9. Overlay -------------------*/

[data-overlay] {
  position: relative;
  z-index: 2;
}
[data-overlay] [class^=col-],
[data-overlay] [class*=col-] {
  z-index: 1;
}

[data-overlay]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

[data-overlay=title]:before {
  background-color: var(--title-color);
}

[data-overlay=white]:before {
  background-color: var(--white-color);
}

[data-opacity="1"]:before {
  opacity: 0.1;
}

[data-opacity="2"]:before {
  opacity: 0.2;
}

[data-opacity="3"]:before {
  opacity: 0.3;
}

[data-opacity="4"]:before {
  opacity: 0.4;
}

[data-opacity="5"]:before {
  opacity: 0.5;
}

[data-opacity="6"]:before {
  opacity: 0.6;
}

[data-opacity="7"]:before {
  opacity: 0.7;
}

/*------------------- 3.10. Animation -------------------*/

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}

@keyframes movingX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes jumpAni {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jumpReverseAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}


.slideinleft {
  opacity: 0;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-name: var(--animation-name);
}

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slidebottomright {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes slidetopleft {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
  }
  100% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}
/*img-animation**********************/

@keyframes img-anim-right {
  0% {
    transform: translateX(5%);
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes img-anim-top {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes img-anim-bottom {
  0% {
    transform: translateY(5%);
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

/*=================================
    04. Template Style
==================================*/
/*------------------- 4.1. Widget  -------------------*/
.widget_nav_menu ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
}
.widget_nav_menu .menu,
.widget_nav_menu > ul {
  margin: -3px 0 0px 0;
}
.widget_nav_menu a {
  display: block;
  border: none;
  margin: 0 0px 12px 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
  font-family: var(--body-font);
  line-height: 1.313;
  color: var(--title-color);
  position: relative;
  display: flex;
  align-items: center;
}
.widget_nav_menu a:before {
  content: "";
  position: relative;
  height: 18px;
  width: 18px;
  border: 1px solid #DCDCDC;
  border-radius: 50%;
  margin-right: 14px;
}
.widget_nav_menu a:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--theme-color);
  transition: 0.4s;
  opacity: 0;
}
.widget_nav_menu a i {
  margin-right: 12px;
  transition: 0.4s all;
}
.widget_nav_menu a.active, .widget_nav_menu a:hover {
  color: var(--theme-color);
}
.widget_nav_menu a.active i, .widget_nav_menu a:hover i {
  color: var(--theme-color);
  opacity: 1;
}
.widget_nav_menu a.active ~ span, .widget_nav_menu a:hover ~ span {
  color: var(--theme-color);
}
.widget_nav_menu a.active:after, .widget_nav_menu a:hover:after {
  opacity: 1;
}
.widget_nav_menu li {
  display: block;
  position: relative;
}
.widget_nav_menu li > span {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0px;
  background: transparent;
  border-radius: 0;
  height: auto;
  width: auto;
  line-height: initial;
  text-align: center;
  color: var(--body-color);
  transition: all ease 0.4s;
}
.widget_nav_menu li:last-child a {
  margin-bottom: -5px;
  padding-bottom: 0;
  border-bottom: 0;
}

.widget_nav_menu a {
  padding-right: 20px;
}

.widget {
  margin-bottom: 30px;
  position: relative;
  padding: var(--widget-padding-x, 40px);
  background: var(--white-color);
  border: 1px solid #E3E5DE;
  border-radius: 0px;
}
.widget[data-overlay]:before {
  z-index: -1;
}

.widget_title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--title-font);
  line-height: 1em;
  margin: -0.12em 0 47px 0;
}

/*Price Filter --------------*/

/***wp-calender***/

/********widget_recent_comments********/

/******widget_recent_entries******/

/*******widget_rss*******/

/* Large devices */
@media (max-width: 1199px) {
  .widget {
    --widget-padding-y: 30px;
    --widget-padding-x: 30px;
  }
  .widget_title {
    font-size: 22px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .widget {
    --widget-padding-y: 40px;
    --widget-padding-x: 40px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .widget {
    padding: 30px;
  }
}
/* Extra small devices */
.footer-widget {
  margin-bottom: 50px !important;
}
.footer-widget,
.footer-widget .widget {
  padding: 0;
  border: none;
  padding-bottom: 0;
  background-color: transparent;
  box-shadow: none;
}

.footer-widget .widget_title {
  border-bottom: none;
  margin: -0.3em 0 32px 0;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font);
  line-height: 30px;
  position: relative;
}
 .footer-widget.widget_nav_menu ul {
  margin-top: -5px;
}
 .footer-widget.widget_nav_menu .menu,
.footer-widget.widget_nav_menu > ul {
  margin-bottom: -5px;
}
 .footer-widget.widget_nav_menu a {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 19px;
  font-family: var(--body-font);
  color: var(--body-color);
  display: flex;
  align-items: center;
  max-width: 100%;
  width: max-content;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
}
 .footer-widget.widget_nav_menu a i {
  font-size: 12px;
  color: var(--title-color);
  position: absolute;
  opacity: 0;
  left: 0;
}
 .footer-widget.widget_nav_menu a:before {
  display: none;
}
 .footer-widget.widget_nav_menu a:after {
  content: "";
  position: absolute;
  right: 100%;
  left: 0;
  bottom: 0;
  top: auto;
  height: 2px;
  background-color: var(--title-color);
  transition: all ease 0.4s;
  border: 0;
  margin: 0;
  display: inline-block;
  width: auto;
}
 .footer-widget.widget_nav_menu a:hover {
  background-color: transparent;
  color: var(--title-color);
}
 .footer-widget.widget_nav_menu a:hover i {
  opacity: 1;
}
 .footer-widget.widget_nav_menu a:hover:after {
  right: 0;
}
 .footer-widget.widget_nav_menu li {
  border: 0 !important;
  padding-bottom: 0 !important;
}
 .footer-widget.widget_nav_menu li:last-child a {
  margin-bottom: 0;
}
.footer-widget .widget_nav_menu a {
  border-bottom: 1px solid #363636;
}

.widget-contact {
  max-width: 220px;
}
.widget-contact .contact-info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -8px;
  margin-bottom: -0.55em;
}
.widget-contact .contact-info-list li {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: var(--body-color);
}
.widget-contact .contact-info-list li a {
  color: var(--title-color);
}
.widget-contact .contact-info-list li:not(:last-child) {
  margin-bottom: 23px;
}

.widget-newsletter p {
  margin-bottom: -0.5em;
}

/* Medium Large devices */
/* Large devices */
@media (max-width: 1199px) {
   .footer-widget.widget_nav_menu a {
    margin-bottom: 16px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .footer-widget .widget_title {
    margin-bottom: 35px;
  }
}
/*------------------- 4.2. Header  -------------------*/
.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 41;
}

.sticky-wrapper {
  transition: 0.4s ease-in-out;
}

@keyframes stickyAni {
  0% {
    transform: translate3d(0, -40px, 0) scaleY(0.8);
    opacity: 0.7;
  }
  100% {
    transform: translate3d(0, 0, 0) scaleY(1);
    opacity: 1;
  }
}
.navbar-right {
  gap: 15px;
  width: min-content;
  /* Medium devices */
}
@media (max-width: 991px) {
  .navbar-right {
    position: relative;
    top: 4px;
  }
}

/****header-top*****/
.main-menu a {
  display: block;
  position: relative;
  font-weight: 600;
  font-family: var(--title-font);
  font-size: 14px;
  color: var(--title-color);
  letter-spacing: -0.14px;
}
.main-menu a:hover {
  color: var(--title-color);
}
.main-menu a:hover:before {
  background: var(--theme-color);
}
.main-menu > ul {
  display: flex;
  align-items: center;
  margin: 0 -20px !important;
}
.main-menu > ul > li {
  margin: 0;
}
.main-menu > ul > li > a {
  padding: 46.5px 20px;
}
.main-menu > ul > li > a:hover {
  color: var(--title-color);
}
.main-menu > ul > li > a:hover .effect-1 {
  top: -100%;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
.main-menu ul li:last-child {
  margin-right: 0 !important;
}
.main-menu ul li:first-child {
  margin-left: 0 !important;
}
.main-menu ul li.mega-menu-wrap {
  position: static;
}

.header-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100px;
}

.sidebar-btn {
  background: transparent;
  position: relative;
  height: 60px;
  width: 60px;
  border: 2px solid var(--title-color);
  border-radius: 50%;
  text-align: center;
  line-height: 54px;
  padding: 0;
}
.sidebar-btn .line {
  display: block;
  height: 2px;
  width: 18px;
  background: var(--title-color);
  margin: auto;
  transition: 0.4s;
}
.sidebar-btn .line:not(:last-child) {
  margin-bottom: 4px;
}
.sidebar-btn:hover .line:nth-child(2) {
  width: 10px;
}

/* Extra small devices */
@media (max-width: 575px) {
  .sidebar-btn {
    height: 50px;
    width: 50px;
  }
}
/* Header 1 ---------------------------------- */
.header-layout1 .sticky-wrapper {
  padding: 0px 36px;
}
.header-layout1 {
  /* Hight Resoulation devices */
}
@media (min-width: 1922px) {
  .header-layout1 .menu-area {
    max-width: 1848px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header-layout1 {
  /* Medium devices */
}
@media (max-width: 991px) {
  .header-layout1 .sticky-wrapper {
    padding: 15px 36px;
  }
}
.header-layout1 {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .header-layout1 .sticky-wrapper {
    padding: 15px 0px;
  }
}

/* Header 2 ---------------------------------- */

/* Header 3 ---------------------------------- */

/* Header 4 ---------------------------------- */

/*------------------- 4.3. Footer  -------------------*/
.footer-wrapper {
  background: var(--smoke-color);
}

.copyright-wrap {
  padding: 22px 0;
}

.widget-area {
  padding: 0px 0 90px;
  /* Medium devices */
}
@media (max-width: 991px) {
  .widget-area {
    padding: 0px 0 30px;
  }
}

.copyright-text {
  margin: 0;
  color: var(--title-color);
  font-weight: 400;
  font-size: 18px;
}
.copyright-text a {
  color: var(--title-color);
}

/*footer 1************/

/*footer 2************/

/*footer 3************/

/*footer 4************/

/*footer 5************/

/*footer 7************/

/*footer 8************/

/*footer 9************/

/*footer 10************/
.footer-layout10 {
  background: #0A0C00;
  position: relative;
  --body-color: #ffffff;
  --title-color: #ffffff;
}
.footer-layout10 .copyright-wrap {
  border-top: 2px solid #ffffff;
  padding: 28px 0 60px;
}
.footer-layout10 {
  /* Extra large devices */
}
@media (max-width: 1500px) {
  .footer-layout10 {
    margin-bottom: 0;
  }
  .footer-layout10:after {
    inset: 0;
  }
}

/*------------------- 4.4. Breadcumb  -------------------*/

/* Extra large devices */
/* Medium Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/*------------------- 4.5. Pagination  -------------------*/

/*------------------- 4.8. Hero Area  -------------------*/
/* Hero Global ---------------------------------- */
.hero-wrapper {
  position: relative;
  padding-top: 0;
  z-index: 2;
  overflow: hidden;
}

/* Hero 1 ---------------------------------- */

.hero-title {
  margin-bottom: 0;
  color: var(--title-color);
  font-weight: 600;
  letter-spacing: -0.03em;
  font-size: 120px;
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .hero-title {
    font-size: 100px;
  }
}
/* Medium Large devices */
@media (max-width: 1299px) {
  .hero-title {
    font-size: 90px;
  }
}
/* Large devices */
@media (max-width: 1199px) {
  .hero-title {
    font-size: 80px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .hero-title {
    font-size: 70px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .hero-title {
    font-size: 56px;
  }
}
/* Extra small devices */
@media (max-width: 575px) {
  .hero-title {
    font-size: 39px;
    letter-spacing: normal;
  }
}
/* Extra small devices */
@media (max-width: 375px) {
  .hero-title {
    font-size: 34px;
  }
}
/* Hero 2 ---------------------------------- */

/* Extra large devices */
/* Medium Large devices */
/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Hero 3 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Hero 4 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Hero 5 ---------------------------------- */

/* Extra large devices */
/* Medium Large devices */
/* Medium Large devices */
/* Medium Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Hero 6 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Extra small devices */
/* Hero 7 ---------------------------------- */

/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Hero 8 ---------------------------------- */

/* Medium Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Hero 13 ---------------------------------- */

/* Hero 14 ---------------------------------- */

/* Hero 15 ---------------------------------- */

/* Hero 16 ---------------------------------- */

/* Hero 17 ---------------------------------- */

/* Hero 18 ---------------------------------- */
.hero-18 .hero-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-18 .icon-box {
  position: absolute;
  right: 48px;
  bottom: 80px;
}
.hero-18 .icon-box .slick-arrow {
  --icon-size: 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: var(--white-color);
}
.hero-18 .icon-box .slick-arrow:hover {
  background: var(--white-color);
  color: var(--title-color);
}
.hero-18 .icon-box {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .hero-18 .icon-box {
    right: 20px;
    bottom: 25px;
  }
  .hero-18 .icon-box .slick-arrow {
    --icon-size: 40px;
    font-size: 16px;
  }
}

.hero-style18 {
  padding: 392px 0 140px;
  /* Extra large devices */
}
@media (max-width: 1500px) {
  .hero-style18 {
    padding: 300px 0 140px;
  }
}
.hero-style18 {
  /* Medium Large devices */
}
@media (max-width: 1299px) {
  .hero-style18 {
    padding: 280px 0 140px;
  }
}
.hero-style18 {
  /* Large devices */
}
@media (max-width: 1199px) {
  .hero-style18 {
    padding: 250px 0 120px;
  }
}
.hero-style18 {
  /* Small devices */
}
@media (max-width: 767px) {
  .hero-style18 {
    padding: 200px 0 120px;
  }
}
.hero-style18 {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .hero-style18 {
    padding: 180px 0 80px;
  }
}
.hero-style18 .hero-title {
  font-size: 80px;
  line-height: 1.125em;
  margin-bottom: 28px;
  color: var(--white-color);
  /* Extra large devices */
}
@media (max-width: 1500px) {
  .hero-style18 .hero-title {
    font-size: 70px;
  }
}
.hero-style18 .hero-title {
  /* Medium Large devices */
}
@media (max-width: 1399px) {
  .hero-style18 .hero-title {
    font-size: 60px;
  }
}
.hero-style18 .hero-title {
  /* Medium Large devices */
}
@media (max-width: 1299px) {
  .hero-style18 .hero-title {
    font-size: 55px;
  }
}
.hero-style18 .hero-title {
  /* Medium devices */
}
@media (max-width: 991px) {
  .hero-style18 .hero-title {
    font-size: 48px;
  }
}
.hero-style18 .hero-title {
  /* Small devices */
}
@media (max-width: 767px) {
  .hero-style18 .hero-title {
    font-size: 45px;
  }
}
.hero-style18 .hero-title {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .hero-style18 .hero-title {
    font-size: 35px;
  }
}
.hero-style18 .hero-title {
  /* Extra small devices */
}
@media (max-width: 375px) {
  .hero-style18 .hero-title {
    font-size: 32px;
  }
}

/*------------------- 4.9. Error  -------------------*/

/*------------------- 4.00. Popup Search  -------------------*/
.popup-search-box {
  position: fixed;
  top: 0;
  left: 50%;
  background-color: var(--title-color);
  width: 100.1%;
  height: 0px;
  overflow: hidden;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all ease 0.4s;
}
.popup-search-box button.searchClose {
  width: 60px;
  height: 60px;
  line-height: 54px;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  font-size: 22px;
  border-radius: 50%;
  border: 2px solid var(--smoke-color);
  transform: rotate(0);
  transition: all ease 0.4s;
  color: var(--white-color);
}
.popup-search-box button.searchClose:hover {
  color: var(--body-color);
  background-color: #2e2e2d;
  border-color: transparent;
  border-color: transparent;
  transform: rotate(90deg);
}
.popup-search-box form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  padding-bottom: 0px;
  cursor: auto;
  width: 100%;
  max-width: 900px;
  transform: translate(-50%, -50%);
  transition: transform ease 0.4s;
  /* Large devices */
}
@media (max-width: 1199px) {
  .popup-search-box form {
    max-width: 600px;
  }
}
.popup-search-box form input {
  font-size: 24px;
  font-weight: 400;
  height: 70px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--smoke-color);
  padding: 0 80px 0 0px;
  color: var(--smoke-color);
  border-radius: 0px;
}
.popup-search-box form input::-moz-placeholder {
  color: rgba(246, 245, 243, 0.5);
}
.popup-search-box form input::-webkit-input-placeholder {
  color: rgba(246, 245, 243, 0.5);
}
.popup-search-box form input:-ms-input-placeholder {
  color: rgba(246, 245, 243, 0.5);
}
.popup-search-box form input::placeholder {
  color: rgba(246, 245, 243, 0.5);
}
.popup-search-box form button {
  position: absolute;
  top: 0px;
  background-color: transparent;
  border: none;
  color: var(--theme-color);
  font-size: 24px;
  right: 0px;
  cursor: pointer;
  width: auto;
  height: 70px;
  transition: all ease 0.4s;
  transform: scale(1.001);
  filter: brightness(99999);
}
.popup-search-box form button:hover {
  transform: scale(1.1);
}

/* Small devices */
@media (max-width: 767px) {
  .popup-search-box form {
    width: 80%;
  }
  .popup-search-box form input {
    height: 60px;
  }
  .popup-search-box form button {
    width: 60px;
    line-height: 62px;
    height: 60px;
  }
}
/*------------------- 4.00. Popup Side Menu  -------------------*/

/* Medium Large devices */
/* Small devices */
/*------------------- 4.00. Subscribe  -------------------*/
/*------------------- 4.00. Contact  -------------------*/
/*contact area 1***********************/

/*------------------- 4.00. About  -------------------*/
/*about area 1***********************/

/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/*about area 14***********************/

/*about area 16***********************/

/*about area 17***********************/

/*------------------- 4.00. Team  -------------------*/
/* Team 1 ---------------------------------- */

/* Medium Large devices */
/* Team 2 ---------------------------------- */

/* Team Details ---------------------------------- */

/*------------------- 4.00. Testimonial  -------------------*/
/* Testimonial 1 ---------------------------------- */

/* Testimonial 2 ---------------------------------- */
/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Testimonial 3 ---------------------------------- */

/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Testimonial 4 ---------------------------------- */
/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Testimonial 5 ---------------------------------- */

/* Testimonial 6 ---------------------------------- */

/* Testimonial 7 ---------------------------------- */

/*------------------- 4.00. Counter  -------------------*/
/* Counter area ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Counter area 2---------------------------------- */

/* Counter area 3---------------------------------- */

/*------------------- 4.00. Blog  -------------------*/
/* Blog Card ---------------------------------- */

/* Large devices */
/* Small devices */
/* Blog Card 2 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Blog Area 3 ---------------------------------- */
/* Blog grid ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */
/* Blog Area 5 ---------------------------------- */

/* Blog Area 4 ---------------------------------- */

/* Blog Area accordion ---------------------------------- */

/*------------------- 4.00. Blog  -------------------*/
/*=============================
    19. Blog
===============================*/

/*blog post 2************/
/*Blog Details Area**********/

/*Blockquote****************/
/*sidebar-widget**************/

/*Comment Area**************/

/*------------------- 4.00. Client  -------------------*/

/* Medium Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Extra small devices */

/*------------------- 4.00. Simple Sections  -------------------*/

.icon-box {
  display: inline-flex;
  gap: 10px;
}

/* Large devices */
/* Extra small devices */

/*------------------- 4.00. Video -------------------*/
/* Video 1 ---------------------------------- */
.jarallax {
  width: 100%;
  height: 800px;
  /* Extra large devices */
}
@media (max-width: 1500px) {
  .jarallax {
    height: 600px;
  }
}
.jarallax {
  /* Small devices */
}
@media (max-width: 767px) {
  .jarallax {
    height: 400px;
  }
}

/* Extra small devices */
/*------------------- 4.00. Faq -------------------*/
/* Faq 1 ---------------------------------- */

/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Faq 2 ---------------------------------- */

/*------------------- 4.00. feature -------------------*/
/*feature area 1***********************/

/*skill-feature**************/

/*feature area 3***********************/

/* Large devices */
/*feature area 4***********************/

/* Medium Large devices */
/* Extra small devices */
/*feature area 2***********************/

/*feature area 3***********************/

/*feature area 4***********************/

/*feature area 5***********************/

/*feature area 6***********************/
.feature-card6 {
  text-align: center;
}
.feature-card6 .box-icon {
  margin-bottom: 28px;
}
.feature-card6 .box-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}
.feature-card6 .box-text {
  margin-bottom: -0.3em;
}

/*------------------- 4.00. CTA -------------------*/
/* CTA Area 1 ---------------------------------- */

/* CTA Area 2 ---------------------------------- */

/* CTA Area 3 ---------------------------------- */
.cta-wrap3 {
  position: relative;
  padding: 210px 0;
  /* Medium Large devices */
}
@media (max-width: 1299px) {
  .cta-wrap3 {
    padding: 180px 0;
  }
}
.cta-wrap3 {
  /* Medium devices */
}
@media (max-width: 991px) {
  .cta-wrap3 {
    padding: 140px 0;
  }
}
.cta-wrap3 {
  /* Small devices */
}
@media (max-width: 767px) {
  .cta-wrap3 {
    padding: 120px 0;
  }
}
.cta-wrap3 {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .cta-wrap3 {
    padding: 100px 0;
  }
}
.cta-wrap3 .cta-bg-thumb {
  position: absolute;
  inset: 0;
  height: 100%;
}
.cta-wrap3 .cta-title {
  font-size: 80px;
  line-height: 1.125em;
  /* Medium Large devices */
}
@media (max-width: 1399px) {
  .cta-wrap3 .cta-title {
    font-size: 70px;
  }
}
.cta-wrap3 .cta-title {
  /* Large devices */
}
@media (max-width: 1199px) {
  .cta-wrap3 .cta-title {
    font-size: 60px;
  }
}
.cta-wrap3 .cta-title {
  /* Medium devices */
}
@media (max-width: 991px) {
  .cta-wrap3 .cta-title {
    font-size: 50px;
  }
}
.cta-wrap3 .cta-title {
  /* Small devices */
}
@media (max-width: 767px) {
  .cta-wrap3 .cta-title {
    font-size: 40px;
  }
}
.cta-wrap3 .cta-title {
  /* Extra small devices */
}
@media (max-width: 575px) {
  .cta-wrap3 .cta-title {
    font-size: 34px;
  }
}
.cta-wrap3 .title-area .btn {
  margin-top: 24px;
}

/*------------------- 4.00. Service -------------------*/
/* Service 1 ---------------------------------- */

/* Service 2 ---------------------------------- */

/*------------------- 4.00. Why Choose Us -------------------*/
/* Why choose area 1 ---------------------------------- */

/*------------------- 4.00. Pricing -------------------*/
/* Pricing area 1---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Extra small devices */
/* Pricing area 2---------------------------------- */

/*------------------- 4.00. Portfolio -------------------*/
/* Portfolio 1 ---------------------------------- */

/* Portfolio 2 ---------------------------------- */

/* Large devices */
/* Medium devices */
/* Extra small devices */
/* Portfolio 3 ---------------------------------- */

/* Large devices */
/* Medium devices */
/* Extra small devices */
/* Extra small devices */
/* Portfolio 4 ---------------------------------- */

/* Medium devices */
/* Portfolio 6 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Portfolio 6 ---------------------------------- */

/*project-area-8*********/

/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Portfolio 12 ---------------------------------- */

/* Medium Large devices */
/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/* Portfolio 13 ---------------------------------- */

/* Portfolio 14 ---------------------------------- */

/* Portfolio 15 ---------------------------------- */

/* Portfolio 16 ---------------------------------- */

/*project-details-area*********/

/*------------------- 4.00. Process -------------------*/

/* Large devices */
/* Medium devices */
/*------------------- 4.00. Award -------------------*/
/*award area 1***********************/

/* Large devices */
/* Medium devices */
/* Small devices */
/* Extra small devices */
/*------------------- 4.00. Offer -------------------*/
/*offer area 1***********************/

/*------------------- 4.00. Instagram -------------------*/
/*instagram area 1***********************/

/*------------------- 4.00. Shop -------------------*/
/* Shop ---------------------------------- */
/*shop sort bar******/

/* Product Card ---------------------------------- */

/*------------------- 4.00. Cart -------------------*/
/* Cart ---------------------------------- */

/* Medium devices */
/* Small devices */
/*------------------- 4.00. Checkout -------------------*/
/* Checkout ---------------------------------- */

/* Small devices */
/*=================================
    05. Spacing
==================================*/
/*-- Padding Left And Right --*/

/*-- Padding Top And Bottom --*/

/*-- Padding Top --*/

/*-- Padding Bottom --*/

/*-- Padding Left --*/

/*-- Padding Right --*/

/*-- margin Left And Right --*/

/*-- margin Top And Bottom --*/

/*-- margin Top --*/

/*-- margin Bottom --*/

/*-- margin Left --*/

/*-- margin Right --*/

.mt-80 {
  margin-top: 80px;
  /* Medium devices */
}
@media (max-width: 991px) {
  .mt-80 {
    margin-top: 40px;
  }
}

.mb-80 {
  margin-bottom: 80px;
  /* Medium devices */
}
@media (max-width: 991px) {
  .mb-80 {
    margin-bottom: 40px;
  }
}

.space,
.space-top {
  padding-top: var(--section-space);
}

.space,
.space-bottom {
  padding-bottom: var(--section-space);
}

/* Medium devices */
@media (max-width: 991px) {
  .space,
  .space-top {
    padding-top: var(--section-space-mobile);
  }
  .space,
  .space-bottom {
    padding-bottom: var(--section-space-mobile);
  }
}
